$color-primary: #55c57a; //variables tanımlamalarını yaptık.
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary: #ff7730;
$color-tertiary: #5643fa;
$color-grey: #777;
$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;