.header {
    height: 95vh;
    /*viewport height*/
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/hero.jpg");
    /*açık tondan koyu tona sağa doğru geçiş yaptık*/
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /*resmi kesmek için kenarların xy koordinatlarını kullandık*/
    position: relative;
}

.footer {
    background-color: $color-black;
}