.composition {

    position: relative;

    &-photo {
        position: absolute;
        outline-offset: 1rem;


        &-p1 {
            top: 0px;
            left: -30px;

        }

        &-p2 {
            top: 30px;
            left: 150px;
        }

        &-p3 {
            top: 110px;
            left: 10%;
        }

        &:hover {
            transform: scale(1.08);
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            z-index: 20;
            outline: 1rem solid $color-primary-dark;
        }



    }

}